*{
    font-family: Helvetica;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 5px;
    border: 1px solid black;
    width: 800px;
    height: 600px;
    align-items: center;
}

#gameArea{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

#gameOption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem auto 3rem auto;
    width: 38rem;
}

#gameOption > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
}

#games{
    width: 12rem;
}

#contentLeft{
    width: 8rem;
}

#contentCenter{

}

#contentRight{
    width: 8rem;
}

.notVisible{
    display: none;
}
.visible{
    display: inline;
}

.width80{
    width: 80%;
}

.design{
    display: flex;
    color: white;
    border: 1px solid rgb(20, 113, 15);
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin: 0.1rem;
    background-image: linear-gradient(135deg, rgb(20, 113, 15), rgb(34, 164, 26));
}

.designIn{
    display: flex;
    color: white;
    border: 1px solid white;
    border-radius: 0.3rem;
    background-image: linear-gradient(315deg, rgb(20, 113, 15), rgb(34, 164, 26));
}

.designIn > option{
    background: rgb(20, 113, 15);
}

.topMargin{
    margin-top: 1rem;
}

.smallFont{
    font-size: 0.6rem;
    margin: auto 0rem;
}